@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Ubuntu', sans-serif;
}

a, a:visited {
    text-decoration: none;
    color: #333;
}

.container {
    height: 100vh;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    background-color: #ededed;
}

.title {
    font-size: 2.5rem;
    padding-top: 30px;
    padding-bottom: 35px;
}


.mainGrid {
    margin: auto;
    width: 600px;
    display: grid;
    box-shadow: -5px -5px 9px rgba(255,255,255,0.45), 5px 5px 9px rgba(94,104,121,0.3);
    background-color: #ededed;
}

div > .pixel {
    padding: 0px;
    background-color: #ededed;
    padding-top: 100%;
}

.topBtn {
    display: flex;
    flex-direction: row;
    gap: 80px;
}

.topBtn > button {
    height: 70px;
    width: 70px;
    -webkit-appearance: none;
    box-shadow: -10px -10px 15px rgba(255, 255, 255, 0.45), 10px 10px 15px rgba(70, 70, 70, 0.12);
    border-radius: 30%;
    border: 20px solid #ededed;
    outline: none;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.bottomBtn {
    display: flex;
    flex-direction: column-reverse;
    padding: 40px;
}

#sliderValue {
    display: flex;
    justify-content: center;
}

#myRange {
    width: 400px;
}

.isActive {
    color: rgb(12, 110, 238);
}

@media (height > 1200px) {
    .mainGrid {width: 800px;}
}